* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
}

.container{
    position: relative;
    width: 400px;
    height: 105px;
    background: #fff;
    padding: 28px 12px;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.6s ease-out;

    }

    .search-box{
        width: 100%;
        height:min-content;
        display: flex;
        align-items: center;
        justify-content:space-between;
    }

    .search-box input{
        color: black;
        width:80%;
        font-size: 15px;
        font-weight: 500;
        text-transform:capitalize;
        padding-left: 12px;
    }
    

        

