/* Reset CSS */
*,
::before
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    background-color: rgb(1, 36, 33);
    padding: 20px 50px;
}

/* Image styles */
img {
    display: block;
    width: 50%;
}

/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    gap: 25px;
    width: 70%;
    max-width: 300px;
    min-width: 250px;
    margin: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Search box styles */
.search-box {
    display: flex;
}

.search-box > * {
    width: 100%;
}

/* Search button styles */
#search-button {
    background-color: #3e8e41;
    color: #ffffff;
    padding: 6px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: backgound-color 0.3s ease;
}

#search-button:hover {
    background-color: #5cb85c;
}

/* Search and location styles */
.search, .location {
    display: flex;
    justify-content: end;
    align-items: center;
}

/* Input styles */
.input {
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px;
}

.input::placeholder {
    font-size: 11px;
    text-transform: uppercase;
    color: rgb(1, 36, 33);
}

.input:focus-visible, .input:focus {
    border: 1px solid transparent;
}

/* Search button styles */
.search-button {
    background-color: transparent;
    border: none;
    color: rgb(1, 36, 33);
    cursor: pointer;
}

/* Location styles */
.location {
    gap: 10px;
}

/* Weather box styles */
.weather-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(1, 36, 33);
}

/* Temperature styles */
.temperature {
    display: flex;    
    justify-content: center;
    font-weight: bold;
    align-items: center;
    font-size: 28px;
}

/* Superscript styles */
.sup {
    align-self: flex-start;
    font-size: 12px;
}

/* Small text styles */
.small {
    font-size: 6px;
}

/* Weather text paragraph styles */
.weather-text > p {
    margin: 0;
}

/* Weather details styles */
.weather-details {
    display: flex;
    justify-content: space-around;
}

.weather-details > * {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Text styles */
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Last span in text styles */
.text span:last-child {
    font-size: 10px;
}