<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Weather App</title>
</head>
<body>
    <div class="container">
        <form action="/" method="POST">
            <div class="search-box">
                <div class="location">
                    <i class="fa-solid fa-location-dot"></i>
                    <input class="input" type="text" id="location-input" name="city" placeholder="Enter City" required>
                </div>
                <div class="search">
                    <div class="circle">
                        <button id="search-button" type="submit"> SEARCH</button>
                    </div>
                </div>
            </div>
        </form>

        {% if weather_data %}
            <div class="weather-box">
                <img id="weather-icon" src="http://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="Weather Icon">
                <div class="weather-text">
                    <h2>{{ weather_data.city }}</h2>
                    <p class="temperature">{{ weather_data.temperature }}°C</p>
                    <p>{{ weather_data.description }}</p>
                </div>
            </div>
            <div class="weather-details">
                <div class="humidity">
                    <i class="fa-solid fa-water"></i>
                    <div class="text">
                        <span id="humidity">{{ weather_data.humidity }}%</span>
                        <span>Humidity</span>
                    </div>
                </div>
                <div class="wind">
                    <i class="fa-solid fa-wind"></i>
                    <div class="text">
                        <span id="wind-speed">{{ weather_data.wind_speed }}Km/h</span>
                        <span>Wind Speed</span>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    

    <script src="https://kit.fontawesome.com/7c8801c017.js" crossorigin="anonymous"></script>
    <script src="script.js"></script>  
</body>
</html>
